extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/users') Click here to verify the api.
  br
  br 
  br
  br
  h3 Developer: Deep_Chandr
  h3 Github  
    a(href='www.github.com/addictd') www.github.com/addictd
  h3 Email  :  deep.dc216@gmail.com